<section class="container-fluid">
  <div class="main-container">

    <h1>Accounts details</h1>

    {{#each model as |account|}}
      <p class="link" {{action 'details' account._links.detail.href}}>
        {{account.label}} <span class="pull-right">&#10095;</span>
      </p>
    {{/each}}

    {{#if details}}
      <p><strong>Type</strong> {{details.type}}</p>
      <p><strong>IBAN</strong> {{details.IBAN}}</p>
      <p><strong>Balance</strong> {{details.balance.currency}} {{details.balance.amount}}</p>
      <button class="btn btn-primary" {{action 'pay' details.id details.bank_id}}>Pay using this account</button>
    {{/if}}

    {{outlet}}

  </div>
</section>
