<section class="container-fluid">
  <div class="col-xs-12">

    <h2 class="title text-center">My accounts</h2>

    {{#each model as |account|}}
      <p class="link" {{action 'details' account._links.detail.href}}>
        {{account.label}} <span class="pull-right">&#10095;</span>
      </p>
    {{/each}}

    {{#if details}}
      <p><strong>Type</strong> {{details.type}}</p>
      <p><strong>IBAN</strong> {{details.IBAN}}</p>
      <p><strong>Balance</strong> {{details.balance.currency}} {{details.balance.amount}}</p>
      {{#if (not allOk)}}<button class="btn btn-primary" {{action 'pay' details.id details.bank_id}}>Pay using this account</button>{{/if}}
    {{/if}}

    {{#if allOk}}
      <p class="ok"><i class="fa fa-check"></i></p>
      <p class="ok-text">Payment was succesful!</p>
    {{/if}}

    {{#if notOk}}
      <div class="alert alert-danger" role="alert">
        <p class="error">There was an error!</p>
      </div>
    {{/if}}

    {{outlet}}

  </div>
</section>
