<section class="container-fluid">
  <div class="main-container">
    <h2 class="text-center">Requested payment</h2>

    <p class="amount">{{model.currency}} {{model.amount}}</p>

    <p class="text-center">to <strong>{{model.user.name}} {{model.user.lastName}}</strong> ({{model.user.company}})</p>

    <p class="desc">{{model.description}}</p>

    {{#if error}}
      <div class="alert alert-danger" role="alert">
        <p class="error">{{error}}</p>
      </div>
    {{/if}}

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        {{input type="email" value=email class="form-control" id="exampleInputEmail1" placeholder="Email"}}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        {{input type="password" value=password class="form-control" id="exampleInputPassword1" placeholder="Password"}}
      </div>
      <button {{action 'login'}} class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>




{{outlet}}
